
<footer class="container-fluid bg-transparent" id="footer">
    <div class="row">
        <div class=send-behind><img src="/src/app/img/banner.jpg" alt="" class="footer-img"></div>
        <div class="col-12  py-2 text-center text-light">
            <h4>Farmers Management System</h4>
            <hr class="custom-hr bg-primary">
        </div>
    </div>


    <div class="row text-light">
        
    <div class="col-lg-4">
        <div class="card no-bg">
            <div class="card-body">
                <h5 class="card-title text-center" ></h5>
                <h2 class="card-text text-secondary text-justify">FMS</h2>
                <h6 class="text-secondary text-justify">Inovation of Technology</h6>
                <hr class="custom-hr bg-secondary" style="float:left; margin-top: 0;">
                </div>
            </div>
        </div>

        <div class="col-lg-2 ">
            <div class="card no-bg">
            <div class="card-body">
                <h5 class="card-title text-center"> Site map</h5>
                <div class="card-text text-secondary">
                    <ul class="list-group">
                        <a href=" " class="no-bg list-group-item text-secondary ">Home</a>
                        <a href=" " class="no-bg list-group-item text-secondary ">Register</a>
                        <a href=" " class="no-bg list-group-item text-secondary ">Our Products</a>
                        <a href=" " class="no-bg list-group-item text-secondary ">About</a>
                        <a href=" " class="no-bg list-group-item text-secondary ">Contact Us</a>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        
        <div class="col-lg-3 ">
        <div class="card no-bg">
            <div class="card-body">
                <h5 class="card-title text-center"> Contact us</h5>
                <p class="card-text text-secondary">
                    Web : www.fms.com <br>
                    Tele : 011 - 1233211 <br>
                    Email : fms@gmail.com
                </p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3">
        <div class="card no-bg">
            <div class="card-body">
                <h5 class="card-title text-center" >About us</h5>
                <p class="card-text text-secondary text-justify">
                FMS is an E-Market place for the farmers and customers who need a proper way to sell and purchase product from anywhere in the country without experiencing any kind of inconvinences for a reasonable price. 
                </p>
                </div>
            </div>
        </div>
        
        <hr>
    </div>
    
    <div class="row">
        
        <div class="col-12 text-center text-light">
            <h6> Copyright &copy; 2018 </h6>
        </div>
    </div>
</footer>

