<section class="container-fluid bg-light">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb shadows">
                <h3>Sold Items</h3>
            <table class="table table-striped table-secondary">
                <tr>
                    <th>#</th>
                    <th># Storage ID</th>
                    <th>Product Name</th>
                    <th class="text-right">Sold Quantity (KG)</th>
                    <th class="text-right">Unit Price (LKR)</th>
                    <th class="text-right">Value (LKR)</th>
                    <th class="text-right">Added Date</th>
                    <th class="text-right">Completed Date</th>
                </tr>
              
            </table>
            </div>
        </div>
    </div>
</section>