<section class="container-fluid bg-light">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb shadows">
                <h3>Vegitables</h3>
            </div>
        </div>
                
         
        
        <div class="col-12">
            <div class="breadcrumb shadows">
                <h3>Fruits</h3>
                </div>
            </div>
            


        <div class="col-12">
            <div class="breadcrumb shadows">
                <h3>Seeds</h3>
            </div>
        </div>
                
            
    </div>
</section>
