<!-- Start of the main content  -->
<div class="container-fluid bg-dark">
    <div class="row"   id="header-img">
        <div class="col-lg-8 col-md-12 text-light pt-5 " >
            <h2 class="display-3 text-shadow">Welcome to the FMS
                </h2>
                <hr class="custom-hr mt-0 float-left bg-light" />
            <br>
            
            <p class="h3">Best products for the best price </p>
            <p class="lead">FMS is an E-Market place for the farmers and customers who need a proper way to sell and purchase product from anywhere in the country without experiencing any kind of inconvinences for a reasonable price.</p>
        </div>
        <div class="col-4 align-self-center my-auto">
            <!-- <img src="img/steve.jpeg" alt="" class="img-fluid img-thumbnail"> -->
        </div>
        <div class="col-12">
            <!-- <a href="#" class="btn btn-lg btn-outline-light">Read More</a> -->
            <br><br>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" id="testamonial">
        <div class="col-12  my-auto" >
            <h4 class="text-light">Take a turn to make your life more comfortable with FMS.</h4>
        </div>
    </div>
</div>


<!-- list of recently price changes -->
<div class="container-fluid z-index pb-5 bg-light">
    <div class="row mx-auto">
        <div class="col-12 my-2">
            <h3 class="text-center"> Recently added products</h3>
            <hr class="custom-hr bg-secondary">
        </div>
        <div class="w-100"></div>
       
    </div>
</div>

<div class="container-fluid py-5" style="background-color: #161617 !important;">
    <div class="row" id="">
        <div class="col-md-4 my-auto py-4" >
            <div calss="mx-auto"><span class="mx-auto text-center d-block"><i class="i-round-border fas fa-hand-holding-usd text-success h1"></i></span></div>
            <h5 class="text-center text-secondary">Save your money, Enjoy your life.</h5>
            <hr class="custom-hr bg-success">
        </div>
        <div class="col-md-4 my-auto py-4" >
            <div calss="mx-auto"><span class="mx-auto text-center d-block"><i class="i-round-border fas fa-store text-warning h1"></i></span></div>
            <h5 class="text-center text-secondary">Beyond the traditional market level. With quality products.</h5>
            <hr class="custom-hr bg-warning">
        </div>
        <div class="col-md-4 my-auto py-4" >
            <div calss="mx-auto"><span class="mx-auto text-center d-block"><i class="i-round-border fas fa-user-cog text-primary h1"></i></span></div>
            <h5 class="text-center text-secondary">Reliable customer service 24 x 7 <br> ( 011-123-3-211)</h5>
            <hr class="custom-hr bg-primary">
        </div>
    </div>
</div>
