<div class="container-fluid light-dark">
    <div class="row">
        <div class="col-md-12 bg-black  zero-padding">
            <div class="container-fluid my-2">
                <div class="breadcrumb">
                <h3>Currently Active Customer Orders</h3>
                <table class="table table-striped table-success">
                    <tr>
                        <th># Order ID</th>
                        <th>Product Name</th>
                        <th>Customer</th>
                        <th>Quantity (KG) </th>
                        <th>Total Price (LKR)</th>
                        <th>Ordered Date</th>
                        <th>Actions</th>
                    </tr>
                    
                </table>
                </div>
            </div>
        </div>
        <br>
        <hr>
    </div>
 </div>
