<div class="col-md-12 bg-light-dark zero-padding" id="navbar">
    <nav class="navbar navbar-expand-lg bg-black thin-navbar">
        <div class="navbar-brand text-light ml-3"><a class="text-light" routerLink="manage-customers">FMS Dashboard</a></div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link text-light">Welcome! </a></li>
                <li class="nav-item my-auto">
                    <form action="">
                        <button class="btn btn-danger btn-sm" name="logout" type="submit">
                            <span class="mr-2"><i class="fas fa-power-off"></i></span>Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" id="col3">
            <!-- First child div with 3 columns -->
            <div><app-dashboard-pannel></app-dashboard-pannel></div>
        </div>
        
        <div class="col-md-9" id="content">
            <!-- Second child div with 9 columns -->
            <router-outlet></router-outlet>
            
            
        </div>
    </div>
</div>

<div class="col-md-12 bg-light-dark zero-padding" >
    <nav class="navbar navbar-expand-lg bg-black thin-navbar">
       
        
    </nav>
</div>