<div class="container-fluid light-dark">
    <div class="row">
        <div class="col-md-12 bg-black  zero-padding">          
            <div class="container-fluid my-2">
                <div class="text-light breadcrumb item-green text-center zero-padding">
                    <h3 class="mx-auto my-0 py-2">Manage Vegitables</h3>
                </div>                                  
                <table class="table text-light table-hover bg-dark">
                   <thead>
                    <tr>
                        <th>#</th>
                        <th>Farmer</th>
                        <th>Name</th>
                        <th>Unit Price (LKR)</th>
                        <th>Quantity (KG)</th>
                        <th>Manage</th>
                    </tr>
                    </thead>
                   
                </table>
            </div>
        </div>
    </div>
</div>