<div class="container-fluid light-dark">
    <div class="row">
        <div class="col-md-12 bg-black  zero-padding">
            <div class="container-fluid my-2">
                <div class="text-light text-center bg-dark zero-padding">
                    <h3 class="mx-auto my-0 py-2">Manage Farmers</h3>
                </div>
                <div class="table-responsive ">              
                <table class="table  text-light bg-dark">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email / Username</th>
                        <th>Contact No.</th>
                        <th>Action</th>
                    </tr>
                    
                </table>
            </div>
        </div>
        </div>
    </div>
</div>