


            <div class="list-group">
                <a              class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-hand-holding-usd">  </i></span>Customer Orders</a>
                <a              class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-store">             </i></span>Purchase Stock</a>
                <a              class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-store">             </i></span>Selling History</a>
                <a              class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-store">             </i></span>Purchase History</a>
                <a              class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-user-edit">         </i></span>Manage Farmers</a>
                <a              class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-user-cog">          </i></span>Manage Customers</a>
                <a              class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-utensils">          </i></span>Product Category</a>
                <a              class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-utensils">          </i></span>Manage Product Category</a>
                <a              class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-utensils">          </i></span>Manage Vegitables</a>
                <a              class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-cookie-bite">       </i></span>Manage Fruits</a>
                <a              class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-feather-alt">       </i></span>Manage Seeds</a>
            </div>
        
       