


            <div class="list-group">
                <a     routerLink="customer-orders" routerLinkActive="active"        class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-hand-holding-usd">  </i></span>Customer Orders</a>
                <a     routerLink="purchase-stock" routerLinkActive="active"         class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-store">             </i></span>Purchase Stock</a>
                <a     routerLink="selling-history" routerLinkActive="active"         class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-store">             </i></span>Selling History</a>
                <a     routerLink="purchase-history" routerLinkActive="active"         class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-store">             </i></span>Purchase History</a>
                <a     routerLink="manage-farmers" routerLinkActive="active"         class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-user-edit">         </i></span>Manage Farmers</a>
                <a     routerLink="manage-customers" routerLinkActive="active"         class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-user-cog">          </i></span>Manage Customers</a>
                <a     routerLink="product-category" routerLinkActive="active"         class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-utensils">          </i></span>Product Category</a>
                <a     routerLink="manage-product-category" routerLinkActive="active"         class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-utensils">          </i></span>Manage Product Category</a>
                <a     routerLink="manage-vegitables" routerLinkActive="active"         class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-utensils">          </i></span>Manage Vegitables</a>
                <a     routerLink="manage-fruits" routerLinkActive="active"         class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-cookie-bite">       </i></span>Manage Fruits</a>
                <a     routerLink="manage-seeds" routerLinkActive="active"         class="list-group-item bg-black text-light ">       <span class="mr-2"><i class="fas fa-feather-alt">       </i></span>Manage Seeds</a>
            </div>
        
       