<div class="container-fluid light-dark">
    <div class="row">
        <div class="col-md-12 bg-black  zero-padding">
            <div class="container-fluid my-2">
                <div class="col-12">
                    <div class="breadcrumb bg-success text-light">
                        <h3 class="mx-auto"> + Purchase New Stocks from Farmers</h3>
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="breadcrumb">
                    <h3 class="text-center">Vegitables</h3>
                    <table class="table table-hover table-success">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Seller</th>
                                <th>Product ID</th>
                                <th>Vegitable</th>
                                <th>Price (LKR)</th>
                                <th>Quantity (KG)</th>
                                <th>Added Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                            
                </table>
            </div>
        </div>

        <div class="col-12 ">
            <div class="breadcrumb">
                <h3 class="text-center">Fruits</h3>
                <table class="table table-hover table-primary">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Seller</th>
                            <th>Product ID</th>
                            <th>Fruit</th>
                            <th>Price (LKR)</th>
                            <th>Quantity (KG)</th>
                            <th>Added Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                        
                </table>
            </div>
        </div>
        
        <div class="col-12 ">
            <div class="breadcrumb">
                <h3 class="text-center">Seeds</h3>
                <table class="table table-hover table-warning">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Seller</th>
                            <th>Product ID</th>
                            <th>Seed</th>
                            <th>Price (LKR)</th>
                            <th>Quantity (KG)</th>
                            <th>Added Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                        
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>