
<div class="container-fluid bg-light py-3">
    <div class="row justify-content-center ">
        <div class="col-4">
            <div class="btn-group mx-auto" role="group">
                <a  class="btn btn-primary text-light">Buying</a>
                <a  class="btn btn-success">Cart
                    <span class="pl-2"><i class="fas fa-shopping-cart"></i></span>
                    
                </a>
                <form action="logout.php" >
                    <button name="logout" class="btn btn-danger text-light"><span class="pl-2 pr-1"><i class="fas fa-power-off"></i></span> Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>
